---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layouts/base
title: "Posts tagged with {{ tag }}"
---

<h1 class="breadcrumb-heading"><a href="{{ site.baseUrl }}/tags">All Tags</a> <span>&gt;</span> {{ tag }}</h1>

<div class="recent-posts-list">
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
<a href="{{ site.baseUrl }}{{ post.url }}" class="related-post-card">
<h3>{{ post.data.title }}</h3>
<time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | smartDate }}</time>
<span class="reading-time">{{ post.templateContent | readingTime }}</span>
<p>{% if post.data.summary %}{{ post.data.summary }}{% else %}{{ post.templateContent | truncate(150) }}{% endif %}</p>
</a>
{% endfor %}
</div>

