---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layouts/base
title: "Posts tagged with {{ tag }}"
---

{% include "std-icons.md" %}
<h1>Posts tagged "{{ tag }}"</h1>
<ul>
    {% set taglist = collections[ tag ] %}
    {% for post in taglist | reverse %}
        <li>
            <a href="{{ site.baseUrl }}{{ post.url }}">{{ post.data.title }}</a>
            ({{ post.data.date | isoDate }})
        </li>
    {% endfor %}
</ul>
<!-- Add subtle footer with link to "All Tags" -->
<div style="margin-top: 2rem; font-size: 0.9em; color: #666;">
    <p>
        Looking for more tags? Visit the
        <a href="{{ site.baseUrl }}/tags">All Tags</a>
        page.
    </p>
</div>
<div style="width: 100%; height: 0; overflow: hidden;">Stupid hack to ensure the page uses the full width of the page
    since I don't know how to fix this otherwise.</div>