---
permalink: /saythanks/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/support/">
  <link rel="canonical" href="{{ metadata.url }}/support/">
  <title>Redirecting…</title>
</head>
<body>
  <p>This page has moved. <a href="/support/">Click here if not redirected.</a></p>
</body>
</html>
