---
title: Oh no,... this page was not found
layout: layouts/base
permalink: '404.html'
---

<section class="error-container">
    <h1 class="error-title">404</h1>
    <p class="error-message">Oh no,...! This page wasn't found.</p>
    <a href="/" class="error-link">back to home</a>
</section>