---
layout: layouts/base
title: Drafts Action Directory Feed
permalink: /drafts-action-directory-feed/
---

<h1>Drafts Action Directory Feed</h1>
<div style="margin-top: 0.1rem; margin-bottom: 1rem; font-size: 0.9em; color: #666;">
    <p>
        Subscribe via
        <a href="{{ site.baseUrl }}/drafts-action-directory-feed.json">json</a>
        or
        <a href="{{ site.baseURL }}/drafts-action-directory-feed-rss.xml">rss</a>
        feed.
    </p>
</div>
<div class="timeline">
    {% for post in collections.draftActionDirectoryFeed %}
        <div class="timeline-item">
            <div class="timeline-date">
                {{ post.data.date | postDate }}
            </div>
            <div class="timeline-content">
                <h2>{{ post.data.title }}</h2>
                {{ post.templateContent | safe }}
            </div>
        </div>
    {% endfor %}
</div>