---
permalink: /legal-notice/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="0; url=/impressum-datenschutz/">
<link rel="canonical" href="/impressum-datenschutz/">
<title>Redirecting...</title>
</head>
<body>
<p>Redirecting to <a href="/impressum-datenschutz/">Impressum &amp; Datenschutz</a></p>
</body>
</html>
