---
layout: layouts/base
title: posts
permalink: /posts/
eleventyNavigation:
    key: posts
    order: 3
---

<h1>Social Posts</h1>
<div class="timeline">
    {% for post in collections.socialPosts | reverse %}
        <div class="timeline-item">
            <div class="timeline-date">
                {{ post.data.date | postDate }} at {{ post.data.date | postTime }}
                <a href="{{ post.url }}" class="timeline-permalink" title="Permalink">&#x1F517;</a>
            </div>
            <div class="timeline-content">
                {{ post.templateContent | safe }}
            </div>
        </div>
    {% endfor %}
</div>