---
layout: layouts/base
title: quotes
permalink: /quotes/
---

<h1>Quotes</h1>
<div class="timeline">
    {% for post in collections.quotePosts | reverse %}
        <div class="timeline-item">
            <div class="timeline-date">
                {{ post.data.date | postDate }}
                <a href="{{ post.url }}" class="timeline-permalink" title="Permalink">&#x1F517;</a>
            </div>
            <div class="timeline-content">
                {{ post.templateContent | safe }}
            </div>
        </div>
    {% endfor %}
</div>