---
layout: layouts/base.njk
---

{% include "std-icons.md" %}
<h1>
    {{ title }}
</h1>
<ul class="post-metadata">
    <li>
        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </li>
    {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}{{ site.baseUrl }}/tags/{{ tag | slugify }}/{% endset %}
        <li>
            <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
            {%- if not loop.last %},
            {% endif %}
        </li>
    {%- endfor %}
</ul>
{{ content | safe }}
{%- if collections.blogPosts %}
    {%- set previousPost = collections.blogPosts | getPreviousCollectionItem %}
    {%- set nextPost = collections.blogPosts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
        <ul class="links-nextprev">
            {%- if previousPost %}
                <li class="links-nextprev-prev">←
                    <a href="{{ site.baseUrl }}{{ previousPost.url }}">{{ previousPost.data.title }}</a>
                </li>
            {% endif %}
            {%- if nextPost %}
                <li class="links-nextprev-next">
                    <a href="{{ site.baseUrl }}{{ nextPost.url }}">{{ nextPost.data.title }}</a>
                    →</li>
            {% endif %}
        </ul>
    {%- endif %}
{%- endif %}