---
layout: layouts/base.njk
---

{%- css %}
{% include "public/css/index.css" %}
{% endcss %}
<h1>
    {{ date | postDate }} at {{ date | postTime }}
</h1>
<ul class="post-metadata"></li>
{%- for tag in tags | filterTagList %}
    {%- set tagUrl %}{{ site.baseUrl }}/tags/{{ tag | slugify }}/{% endset %}
    <li>
        <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
        {%- if not loop.last %},
        {% endif %}
    </li>
{%- endfor %}</ul>{{ content | safe }}{%- if collections.socialPosts %}
{%- set previousSocialPost = collections.socialPosts | getPreviousCollectionItem %}
{%- set nextSocialPost = collections.socialPosts | getNextCollectionItem %}
{%- if nextSocialPost or previousSocialPost %}
    <ul class="links-nextprev">
        {%- if previousSocialPost %}
            <li class="links-nextprev-prev">←
                <a href="{{ site.baseUrl }}{{ previousSocialPost.url }}">{{ previousSocialPost.data.date | postDate }} at {{ previousSocialPost.data.date | postTime }}</a>
            </li>
        {% endif %}
        {%- if nextSocialPost %}
            <li class="links-nextprev-next">
                <a href="{{ site.baseUrl }}{{ nextSocialPost.url }}">{{ nextSocialPost.data.date | postDate }} at {{ nextSocialPost.data.date | postTime }}</a>
                →</li>
        {% endif %}
    </ul>
{%- endif %}{%- endif %}<div style="width: 100%; height: 0; overflow: hidden;">Stupid hack to ensure the post always
    uses the full width of the page since I don't know how to fix this otherwise.</div>