---
layout: layouts/base.njk
---

<div class="post-card">
<h2>
    {{ date | postDate }} at {{ date | postTime }}
</h2>
{{ content | safe }}
</div>{%- if collections.socialPosts %}
{%- set previousSocialPost = collections.socialPosts | getPreviousCollectionItem %}
{%- set nextSocialPost = collections.socialPosts | getNextCollectionItem %}
{%- if nextSocialPost or previousSocialPost %}
    <ul class="links-nextprev">
        {%- if previousSocialPost %}
            <li class="links-nextprev-prev">←
                <a href="{{ site.baseUrl }}{{ previousSocialPost.url }}">{{ previousSocialPost.data.date | postDate }} at {{ previousSocialPost.data.date | postTime }}</a>
            </li>
        {% endif %}
        {%- if nextSocialPost %}
            <li class="links-nextprev-next">
                <a href="{{ site.baseUrl }}{{ nextSocialPost.url }}">{{ nextSocialPost.data.date | postDate }} at {{ nextSocialPost.data.date | postTime }}</a>
                →</li>
        {% endif %}
    </ul>
{%- endif %}{%- endif %}
