---
layout: layouts/base.njk
---

<div class="post-card">
<h1 class="post-card-title">
    {{ title }}
</h1>
{{ content | safe }}
<div class="share-actions">
{% include "mastodon-share.njk" %}
<a class="email-comment-btn" href="mailto:{{ metadata.author.email }}?subject={{ title | encodeUri }}&amp;body=%0A%0ARe%3A%20{{ metadata.url }}{{ page.url | encodeUri }}" aria-label="Comment via E-Mail">
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z"/></svg>
  Comment via E-Mail
</a>
</div>
</div>{%- if collections.quotePosts %}
{%- set previousQuotePost = collections.quotePosts | getPreviousCollectionItem %}
{%- set nextQuotePost = collections.quotePosts | getNextCollectionItem %}
{%- if nextQuotePost or previousQuotePost %}
    <ul class="links-nextprev">
        {%- if previousQuotePost %}
            <li class="links-nextprev-prev">←
                <a href="{{ site.baseUrl }}{{ previousQuotePost.url }}">{{ previousQuotePost.data.title }}</a>
            </li>
        {% endif %}
        {%- if nextQuotePost %}
            <li class="links-nextprev-next">
                <a href="{{ site.baseUrl }}{{ nextQuotePost.url }}">{{ nextQuotePost.data.title }}</a>
                →</li>
        {% endif %}
    </ul>
{%- endif %}{%- endif %}
