---
layout: layouts/base.njk
---

{%- css %}
{% include "public/css/index.css" %}
{% endcss %}
<h1>
    {{ title }}
</h1>
<ul class="post-metadata"></li>
<i>#tagged</i>
{%- for tag in tags | filterTagList %}
    {%- set tagUrl %}{{ site.baseUrl }}/tags/{{ tag | slugify }}/{% endset %}
    <li>
        <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
        {%- if not loop.last %},
        {% endif %}
    </li>
{%- endfor %}</ul><blockquote>{{ content | safe }}</blockquote>{%- if collections.quotePosts %}
{%- set previousQuotePost = collections.quotePosts | getPreviousCollectionItem %}
{%- set nextQuotePost = collections.quotePosts | getNextCollectionItem %}
{%- if nextQuotePost or previousQuotePost %}
    <ul class="links-nextprev">
        {%- if previousQuotePost %}
            <li class="links-nextprev-prev">←
                <a href="{{ site.baseUrl }}{{ previousQuotePost.url }}">{{ previousQuotePost.data.title }}</a>
            </li>
        {% endif %}
        {%- if nextQuotePost %}
            <li class="links-nextprev-next">
                <a href="{{ site.baseUrl }}{{ nextQuotePost.url }}">{{ nextQuotePost.data.title }}</a>
                →</li>
        {% endif %}
    </ul>
{%- endif %}{%- endif %}